<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/createChallenge.css" />
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->
    <script src="https://kit.fontawesome.com/761d42c757.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <div class="challenge-container">
            <form action="/createChallenge" name="challengeForm" method="POST" enctype="multipart/form-data" id="challengeForm">
                <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                        <div class="grid grid-cols-3 gap-6">
                            <div class="col-span-3 sm:col-span-2">
                                <label for="searchUser" class="inputLabel">
                                    <p>User</p>
                                </label>
                                   
                                <div class="mt-1 flex rounded-md shadow-sm ">
                                    <!-- <span
                                        class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm">
                                        Username:
                                    </span> -->
                                    <input type="text" name="searchUser" id="searchUser"
                                        class=""
                                        placeholder="Search User" autocomplete="off">
                                    <input type="hidden" name="followingList" id="followingList" value="<%=following%>" />
                                </div>
                                <div>
                                    <ul id="searchResults" class="z-50 absolute grid block text-sm"></ul>
                                </div>
                            </div>
                        </div>
    
                        <div class="text-sm font-medium text-gray-700">
                            <div class="categoryContainer">
                                Category
                                <div class="categoryContainer1 gap-6 mt-4">
                                    <label for="cat1" class="catLabel focus:border-blue-500">
                                        <input type="radio" id="cat1" name="categoryInput" value="dance"> </input>
                                        <img src="/assets/cat1.png">
                                    </label>
                                    <label for="cat2" class="catLabel">
                                        <input type="radio" id="cat2" name="categoryInput" value="food"> </input>
                                        <img src="/assets/cat2.png">
                                    </label>
                                </div>
                                <div class="categoryContainer2 gap-6 mt-4">
                                    <label for="cat3" class="catLabel">
                                        <input type="radio" id="cat3" name="categoryInput" value="sports"> </input>
                                        <img src="/assets/cat3.png">
                                    </label>
                                    <label for="cat4" class="catLabel">
                                        <input type="radio" id="cat4" name="categoryInput" value="art"> </input>
                                        <img src="/assets/cat4.png">
                                    </label>
                                </div>
                                <div class="categoryContainer3 gap-6 mt-4">
                                    <label for="cat5" class="catLabel">
                                        <input type="radio" id="cat5" name="categoryInput" value="gaming"> </input>
                                        <img src="/assets/cat5.png">
                                    </label>
                                    <label for="cat6" class="catLabel">
                                        <input type="radio" id="cat6" name="categoryInput" value="misc"> </input>
                                        <img src="/assets/cat6.png">
                                    </label>
                                </div>
                            </div>
                            <!-- <select id="categoryInput" name="categoryInput" rows="7" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md" >
                  <option disabled hidden selected>Select one</option>
                  <option value="dance">Dance</option>
                  <option value="food">Food</option>
                  <option value="sports">Sports</option>
                  <option value="art">Art</option>
                  <option value="gaming">Gaming</option>
                  <option value="misc">Misc</option>
                </select> -->
                        </div>
    
                        <div>
                            <label for="timeInput" class="inputLabel">
                                <p>Time Limit</p>
                            </label>
                            <div class="mt-1 inline-flex font-small text-gray-600 gap-6 timeContainer">
                                <label for="time43200s" class="timeLabel">
                                    12 hours
                                    <input type="radio" id="time43200s" name="timeInput" value="43200"
                                        class="shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md">
                                </label>
                                <label for="time86400s" class="timeLabel">
                                    24 hours
                                    <input type="radio" id="time86400s" name="timeInput" value="86400"
                                        class="shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md">
                                </label>
    
                            </div>
                        </div>
                        <div>
                            <label for="titleInput" class="block text-sm font-medium text-gray-700">
                                <p>Title</p>
                            </label>
                            <div class="mt-1">
                                <input id="titleInput" name="titleInput" placeholder="Tap to enter">
                            </div>
                        </div>
    
                        <div>
                            <label for="descriptionInput">
                                <p>Description</p>
                            </label>
                            <div class="mt-1">
                                <textarea id="descriptionInput" name="descriptionInput" rows="3"
                                    placeholder="Brief description for your challenge"></textarea>
                            </div>
                            <p class="mt-2 text-sm text-gray-500">
                                
                            </p>
                        </div>
    
                        <div>
                            <div
                                class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                                <div class="space-y-1 text-center">
                                    <div class="justify-center flex text-sm text-gray-600">
                                        <label for="fileUpload"
                                            class="fileUpload">
                                            <span>Upload a file</span>
                                            <span id="hiddenURL"></span>
                                            <input id="fileUpload" name="fileUpload" type="file"
                                                class="sr-only challengeInput" accept="image/gif, image/png, image/jpeg"
                                                onchange="showPreview(event)">
                                        </label>
                                        <p class="text-xs text-gray-500">
                                            PNG, JPG, or GIF up to 10MB
                                        </p>
                                        <script>
                                            //generates img src for previewing file upload
                                            function showPreview(event) {
                                                if (event.target.files.length > 0) {
                                                    let src = URL.createObjectURL(event.target.files[0]);
                                                    let preview = document.getElementById("previewImage")
                                                    preview.src = src;
                                                    preview.style.height = "400px";
                                                    preview.style.width = "auto";
                                                    preview.style.display = "block";
                                                }
                                            }
                                        </script>
                                    </div>
                                    <div id="preview">
                                        <img id="previewImage">
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-blue-500 px-4 py-3 text-center sm:px-6 text-white">
                        
                    </div>
                </div>
            </form>
    </div>
    <script defer src="/scripts/upload.js"></script>

</body>

</html>