<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/createChallenge.css" />
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->
    <script src="https://kit.fontawesome.com/761d42c757.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>

<div class="categoryContainer">
    Category
    <div class="categoryContainer1">
      <a href="/show/?category=dance"><img src="/assets/cat1.png">  </a>
      <a href="/show/?category=food"><img src="/assets/cat2.png">  </a>
    </div>
    <div class="categoryContainer2">
      <a href="/show/?category=sports"><img src="/assets/cat3.png">  </a>
      <a href="/show/?category=art"><img src="/assets/cat4.png">  </a>
    </div>
    <div class="categoryContainer3">
      <a href="/show/?category=gaming"><img src="/assets/cat5.png">  </a>
      <a href="/show/?category=misc"><img src="/assets/cat6.png">  </a>
    </div>
</div>


</body>

</html>