<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/policies.css" />
  <title>FAQ</title>
</head>
<body>
  <div class="content">
  <h1>Frequently Asked Questions</h1>
  <div class="faq1">

    <h3>How do I challenge my friend?</h3>
      It's simple! Log into your account if you haven't already. Press the "Create Challenge" on the bottom on the screen. Next, fill in the username of the person you want to challenge, 
      select a category and time limit, enter the title and description, and finally, upload your desired picture, GIF, or video file! All fields must be filled in. 
      Remember to press the challenge button after you've filled everything in!

  </div>

  <div class="faq2">

  <h3>I challenged my friend, but they said they can't see it!</h3>
    Make sure you have the correct username entered when you're creating a challenge. The username is case-sensitive.


  </div>

  <div class="faq3">
    <h3>Can anyone see my posts?</h3>
      All challenges are public. Users are able to see your posts on the explore page, or searching your username to see your profile.

  </div>

  <div class="faq4">
    <h3>Can I upload a video directly from my phone?</h3>
      Of course! 
  </div>

  <div class="faq5">

    <h3>Can I reject a challenge if I don’t want to do it?</h3>
      If you're not feelin' it, you could always reject the challenge! You will be able to reject any post by pressing reject on the notifications page.
  </div>

  <div class="faq6">
    <h3>I accidentally sent the challenge to the wrong person! Can I edit it?</h3>
      At this point, we do not support editing a challenge yet. You would need to delete the challenge and then creating another challenge.

  </div>
</div>
</body>
</html>