    <footer>
        <a href="/" class="home"><i class="fas fa-home"></i></a>
        <a href="createChallenge" id="challengeButton">Start a Challenge</a>
        <img id="notifications" src="notifications.png" alt="notifications" width="25px" height="auto" />
    </footer>
