    <nav>
        <a href="/">
            <img class="logo" src="logo-a.png" alt="contendr logo"></a>

            <form action="/search" method="GET" id="search-input">
                <input type="search" name="searchInput" id="searchInput" placeholder="Search User...">
                <!-- <button class="search"><i class="fas fa-search"></i></button> -->
            </form>

        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn"><img class="dropbtn" id="displayPicture" src="../assets/dp-placeholder.png"
                    alt="display picture">
            </button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/userProfile">Profile: <%=user.username%></a>
                <hr>
                <a href="faq">FAQ</a>
                <a href="termsOfUse">Terms of Use</a>
                <a href="privacyPolicy">Privacy Policy</a>
                <a href="help">Help</a>

                <hr>
                <a href="/auth/logout">Logout</a>
            </div>
        </div>

        <script>
            /* When the user clicks on the button, 
            toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>

    </nav>