    <nav>
        <a href="/">
            <img class="logo" src="logo.png" alt="contendr logo"></a>

            <form action="/search" method="GET">
                <input type="search" name="searchInput" id="searchInput" placeholder="Search..">
                <button class="search"><i class="fas fa-search"></i></button>
            </form>

        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn"><img class="dropbtn" id="displayPicture" src="../assets/dp-placeholder.png"
                    alt="display picture">
            </button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/userProfile">Profile</a>
                <hr style="border:1px solid rgba(211, 211, 211, 0.493)">
                <a href="/auth/logout">Logout</a>
                <!-- <a href="#home">Home</a>
          <a href="#about">About</a>
          <a href="#contact">Contact</a> -->
            </div>
        </div>

        <script>
            /* When the user clicks on the button, 
            toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>

    </nav>