<h1>challenge</h1>
<form action="/createChallenge" method="POST">
  <div class="searchUserInput">
    <label for="searchUser">User</label>
    <input
      name="searchUser"
      id="searchUser"
      placeholder="Tap to search"
    />
  </div>
  <div class="categoryInput">
    <select name="category" id="category" placeholder="category">
      <option disabled hidden selected>Category</option>
      <option value="dance">Dance</option>
      <option value="food">Food</option>
      <option value="sports">Sports</option>
      <option value="art">Art</option>
      <option value="gaming">Gaming</option>
      <option value="misc">Misc</option>
    </select>
  </div>
  <div class="titleInput">
  <label for="title">Title</label>
    <input
      type="text"
      name="title"
      id="title"
      placeholder="Tap to enter"
    />
  </div>
  <div class="challengeDescriptionInput">
    <label for="challengeDescription">Description</label>
    <textarea
      type="textarea"
      name="challengeDescription" 
      id="challengeDescription" 
      placeholder="Tap to enter"
    ></textarea>
  </div>
  <button type="submit">Challenge</button>
</form>
