<h1>Create A Challenge</h1>
<div>
  <div class="">
    <form action="/createChallenge" method="POST" enctype="multipart/form-data" id="challengeForm">
      <div class="shadow sm:rounded-md sm:overflow-hidden">
        <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
          <div class="grid grid-cols-3 gap-6">
            <div class="col-span-3 sm:col-span-2">
                <label for="searchUser" class="block text-sm font-medium text-gray-700">
                  Select user to challenge
                </label>
                <div class="mt-1 flex rounded-md shadow-sm ">
                  <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm">
                    Username:
                  </span>
                  <input type="text" name="searchUser" id="searchUser" class="focus:ring-blue-500 focus:border-blue-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300" placeholder="Tap to search">
                  <input type="hidden" name="followingList" id="followingList" value="<%=following%>"/>
                </div>
                <div id="searchResults" class=" bg-blue-500 z-50 absolute">

                </div>
            </div>
          </div>
          
          <div class="text-sm font-medium text-gray-700">
            Category
            <div class = "categoryContainer">
              <div class= "categoryContainer1 gap-6 mt-4">
                <label for="cat1" class="catLabel focus:border-blue-500">
                  <input type="radio" id="cat1" name="categoryInput" value="dance" checked> </input>
                  <img src="/assets/cat1.png">
                </label>
                <label for="cat2" class="catLabel">
                  <input type="radio" id="cat2" name="categoryInput" value="food"> </input>
                  <img src="/assets/cat2.png">
                </label>
              </div>
              <div class= "categoryContainer2 gap-6 mt-4">
                <label for="cat3" class="catLabel">
                  <input type="radio" id="cat3" name="categoryInput" value="sports"> </input>
                  <img src="/assets/cat3.png">
                </label>
                <label for="cat4" class="catLabel">
                  <input type="radio" id="cat4" name="categoryInput" value="art"> </input>
                  <img src="/assets/cat4.png">
                </label>
              </div>
              <div class= "categoryContainer3 gap-6 mt-4">
                <label for="cat5" class="catLabel">
                  <input type="radio" id="cat5" name="categoryInput" value="gaming"> </input>
                  <img src="/assets/cat5.png">
                </label>
                <label for="cat6" class="catLabel">
                  <input type="radio" id="cat6" name="categoryInput" value="misc"> </input>
                  <img src="/assets/cat6.png">
                </label>
              </div>
            </div>
            <!-- <select id="categoryInput" name="categoryInput" rows="7" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md" >
              <option disabled hidden selected>Select one</option>
              <option value="dance">Dance</option>
              <option value="food">Food</option>
              <option value="sports">Sports</option>
              <option value="art">Art</option>
              <option value="gaming">Gaming</option>
              <option value="misc">Misc</option>
            </select> -->
          </div>

          <div>
            <label for="timeInput" class="block text-sm font-medium text-gray-700">
              Time Limit
            </label>
            <div class="mt-1 inline-flex font-small text-gray-600 gap-6 timeContainer">
              <label for="time43200s" class="timeLabel">
                12 hours
                <input type="radio" id="time43200s" name="timeInput" value="43200" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md">
              </label>
              <label for="time86400s" class="timeLabel">
                24 hours
                <input type="radio" id="time86400s" name="timeInput" value="86400" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md">
              </label>

            </div>
          </div>
          <div>
            <label for="titleInput" class="block text-sm font-medium text-gray-700">
              Title
            </label>
            <div class="mt-1">
              <input id="titleInput" name="titleInput" rows="3" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="Tap to enter">
            </div>
          </div>

          <div>
            <label for="descriptionInput" class="block text-sm font-medium text-gray-700">
              Description
            </label>
            <div class="mt-1">
              <textarea id="descriptionInput" name="descriptionInput" rows="3" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="Tap to enter"></textarea>
            </div>
            <p class="mt-2 text-sm text-gray-500">
              Brief description for your challenge.
            </p>
          </div>

          <div>
            <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
              <div class="space-y-1 text-center">
                <div class="justify-center flex text-sm text-gray-600">
                  <label for="fileUpload" class="relative cursor-pointer bg-white rounded-md font-medium text-blue-600 hover:text-blue-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-blue-500">
                    <span>Upload a file</span>
                    <span id="hiddenURL"></span>
                    <input id="fileUpload" name="fileUpload" type="file" class="sr-only challengeInput" accept="image/gif, image/png, image/jpeg"
                    onchange="showPreview(event)">
                  </label>
                  <script>
                    //generates img src for previewing file upload
                    function showPreview(event) {
                      if (event.target.files.length > 0) {
                        let src = URL.createObjectURL(event.target.files[0]);
                        let preview = document.getElementById("previewImage")
                        preview.src = src;
                        preview.style.height="400px";
                        preview.style.width="auto";
                        preview.style.display="block";
                      }
                    }
                  </script>
                </div>
                <div id="preview">
                  <img id="previewImage">
                </div>
                <p class="text-xs text-gray-500">
                  PNG, JPG, or GIF up to 10MB
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="px-4 py-3 bg-blue-500 text-center sm:px-6 text-white">
          <button type="button" id="submitForm">
            Challenge
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<script defer src="/scripts/upload.js"></script>