<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, 
         user-scalable=0'> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href='css/profile.css' />
    <!-- Icons CDN -->
    <script
      src="https://kit.fontawesome.com/761d42c757.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Contendr</title>
    <link rel="icon" href="assets/icons/tab-icon.png" />
  </head>

  <body>
    <%- include ('../partials/nav.ejs') %>
    <div class="container"><%- body %></div>
    <%- include ('../partials/footer.ejs') %>

    
  </body>
</html>
