<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Styles -->
    <link rel="stylesheet" href='/css/loginStyle.css' />
    <!-- Icons CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <title>Contendr</title>
  </head>
  <body>
    <nav>
      <a href="/">
        <img class="logo" src="/logo-white.png" alt="contendr logo" width="140px" height="auto"></a>
    </nav>
    <h2>challenge your friends!</h2>
    <form action="/auth/login" method="POST">
      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="email"
        />
      </div>
      <br>
      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="password"
        />
      </div>
        <p><a href="/auth/forgot">forgot password?</a></p>
        <button type="submit" class="button" id="login">Login</button>
    </form>
    <br>
    <form action="/auth/github" method="post">
      <button type="submit" class="button" id="github">Login with GitHub</button>
    </form>
      <p class="mt-4">New? <a href="/auth/register">sign up</a> with email</p>
  </body> 
</html>