<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Styles -->
    <link rel="stylesheet" href="/css/loginstyle.css" />
    <link rel="stylesheet" href="/css/registerstyle.css" />

    <!-- Icons CDN -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Contendr</title>
    <link rel="icon" href="assets/icons/tab-icon.png" />
  </head>
  <body>
    <section class="background"></section>
    <!-- <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#fff"
        fill-opacity="1"
        d="M0,160L80,170.7C160,181,320,203,480,181.3C640,160,800,96,960,96C1120,96,1280,160,1360,192L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
      ></path>
    </svg> -->
    <svg
      id="svg"
      viewBox="0 0 1440 600"
      xmlns="http://www.w3.org/2000/svg"
      class="wave"
    >
      <path
        d="M 0,600 C 0,600 0,300 0,300 C 123.86666666666667,265.73333333333335 247.73333333333335,231.46666666666667 404,235 C 560.2666666666667,238.53333333333333 748.9333333333334,279.8666666666667 927,297 C 1105.0666666666666,314.1333333333333 1272.5333333333333,307.06666666666666 1440,300 C 1440,300 1440,600 1440,600 Z"
        stroke="none"
        stroke-width="0"
        fill="#fff"
        class="transition-all duration-300 ease-in-out delay-150"
      ></path>
    </svg>
    <section class="sec2"></section>
    <div class="container">
      <div class="wrapper">
        <nav>
          <a href="/">
            <img
              class="logo"
              src="/logo-white.png"
              alt="contendr logo"
              width="140px"
              height="auto"
          /></a>
        </nav>
        <br />
      </div>
      <div class="login-fields">
        <h2>challenge your friends!</h2>
        <br />
        <br />
        <form action="/auth/register" method="POST">
          <div class="form-group">
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="email"
              required
            />
          </div>
          <br />
          <div class="form-group">
            <input
              type="username"
              id="username"
              name="username"
              class="form-control"
              placeholder="username"
              required
            />
          </div>
          <br />
          <div class="form-group">
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="password"
              required
            />
          </div>
          <p><i>*Note: Passwords will be hashed :)</i></p>
          <br />
          <br />
          <br />
          <button type="submit" class="button" id="register">Register</button>
        </form>
        <p class="small-text">
          Already have an account?
          <a id="login-text" href="/auth/login">Click here to log in.</a>
        </p>
      </div>

      <footer id="white">.</footer>
    </div>
  </body>
</html>
