<div class="container-profile">
    <div class="user-profile">
        <div class="circle-crop">
            <img src="../assets/dp-placeholder.png" alt="display picture" id="displayPic-profile">
        </div>
        <div class="userInfo">
            <h1 class="username-profile"><%-user.username%></h1>
            <p class="bio">Bio</p>
        </div>
        <div class="settings">
            <i class="fas fa-cog"></i>
        </div>
    </div>

    <div class="userInfo-Profile">
        <div class="followers">
            <p>Followers</p>
            <p class="bold">2100</p>
        </div>
        <div class="following">
            <p>Following</p>
            <p class="bold">111</p>
        </div>
        <div class="challenges-won">
            <p>Challenges Won</p>
            <p class="bold">111</p>
        </div>
    </div>

    <div class="userPosts-Profile">

    </div>
</div>