

.categoryContainer {
  width:500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* width:500px;
  height: 250px;
  overflow: auto;
  white-space: nowrap; */

  
}
.catLabel{
  height: 100%;
  width: 100%;
  margin: 5px;
  display: inline-flex;
  justify-content: center;
  
   /* display: inline-block;
   color: white;
   text-align: center;
   padding: 10px;
   text-decoration: none; */
}
label img {
  height: 200px;
  width: 200px;
}

.timeContainer{}

.timeLabel{
  font-size: 12px;
}
/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  transform: scale(1.2);
}
/* .catLabel input[type="radio"]:checked+label{
  border: 10px solid hotpink;
} */