.challenge-container {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    color: #717171;
    align-items: center;
    width: 450px;
    /* padding-top: 1rem; */
    text-align: center;
}

input, textarea {
   border: 1px solid #5177FF;
    height: 35px;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    color: #5177FF;

}

textarea {
  height: 10rem;
  resize: none;
  text-align: left;
  width: 97%;
  padding: .5rem;
}

#previewImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fileUpload{
  background-image: linear-gradient(#55C2FF, #5177FF);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  height: 20px;
  width: 350px;
  border-radius: 20px;
  box-sizing: unset;
}


.categoryContainer {
  width:100%;
  display: flex;
  flex-direction: column;
}
.categoryContainer1{
  grid-row: 1;
  display: inline-flex;
}
.categoryContainer2{
  grid-row: 2;
  display: inline-flex;

}
.categoryContainer3{
  grid-row: 3;
  display: inline-flex;

}
.catLabel{
  height: 100%;
  width: 100%;
  margin: 11px;
}

label img {
  height: 11.5rem;
  width: 11.5rem;
}

.timeContainer{
  display: grid;
  justify-content: center;
}

.timeLabel{
  font-size: 12px;
  grid-row: 1;

}
/* HIDE RADIO */
.catLabel [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  transform: scale(1.2);
  border:1px solid hotpink;
  border-radius: 5%;
}
/* .catLabel input[type="radio"]:checked+label{
  border: 10px solid hotpink;
} */

.results {
  margin-left: 8rem;
  background-color: white;
}
.somebutton {
  background-image: linear-gradient(#FFA4E5, #FF85DD);
}

@media screen and (max-width: 600px) {

  .challenge-container {
    min-width: fit-content;
  }

  /* label img {
  height: 150px;
  width: 150px;
} */

.catLabel{
  height: 100%;
  width: 100%;
  margin: 15px;
}

} 