

.categoryContainer {
  width:500px;
  display: grid;
  grid-template-rows: 3;
  justify-content: center;

  /* width:500px;
  height: 250px;
  overflow: auto;
  white-space: nowrap; */  
}
.categoryContainer1{
  grid-row: 1;
  display: inline-flex;
}
.categoryContainer2{
  grid-row: 2;
  display: inline-flex;

}
.categoryContainer3{
  grid-row: 3;
  display: inline-flex;

}
.catLabel{
  height: 100%;
  width: 100%;
  margin: 5px;

  
   /* display: inline-block;
   color: white;
   text-align: center;
   padding: 10px;
   text-decoration: none; */
}
label img {
  height: 200px;
  width: 200px;
}

.timeContainer{
  display: grid;
  justify-content: center;
}

.timeLabel{
  font-size: 12px;
  grid-row: 1;

}
/* HIDE RADIO */
.catLabel [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  transform: scale(1.2);
  border:1px solid hotpink;
  border-radius: 5%;
}
/* .catLabel input[type="radio"]:checked+label{
  border: 10px solid hotpink;
} */

.results {
  margin-left: 8rem;
  background-color: white;
}
.somebutton {
  background-image: linear-gradient(#FFA4E5, #FF85DD);
}

@media screen and (max-width: 600px) {
  label img {
    height: 150px;
    width: 150px
  }

  .categoryContainer {
    width:330px;
  }
}