/* text styles ------------------------------------------------------ */

.text-s {
  font-size: 12px;
  margin: 0.5rem;
  color: rgb(92, 92, 92);
}

.text-m {
  font-size: 16px;
  margin: 0.5rem;
  color: rgb(92, 92, 92);
}

.text-L {
  font-size: 20px;
  margin: 0.5rem;
  color: rgb(92, 92, 92);
}

.text-m-b {
  font-size: 16px;
  color: rgb(92, 92, 92);
  font-weight: bold;
}

.text-comments {
  font-size: 14px;
  margin: 0.5rem;
  color: rgb(92, 92, 92);
  padding-left: 15px;
}

/* links ------------------------------------------------------ */

a {
  text-decoration: none;
}

a:link {
  color: rgb(92, 92, 92);
}

a:visited {
  color: rgb(92, 92, 92);
}

a:hover {
  color: #ff84dd;
}

a:active {
  color: rgb(92, 92, 92);
}

/* divider line ------------------------------------------------------ */


hr {
  border: none;
  height: 0.5px;
  background-color: rgb(170, 170, 170);
}

/* posts ------------------------------------------------------ */

.img-comp-container {
  position: relative;
  height: 600px;
  width: 450px;
  /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: rgb(60, 112, 255);
  opacity: 0.6;
  border-radius: 50%;
  border: solid 4px rgb(255, 98, 221);
}

#displayPicture-playerOne {
  border: 3px solid #5377fd;
  border-radius: 100%;
}

#displayPicture-playerTwo {
  border: 3px solid #ff84dd;
  border-radius: 100%;
}

.likes-container a {
  text-decoration: none;
  color: #fff;
}
.likes-container a:visited {
  text-decoration: none;
  color: #fff;
}
.likes-container a:hover {
  text-decoration: none;
  color: #fff;
}
.likes-container a:focus {
  text-decoration: none;
  color: #fff;
}
.likes-container a:hover,
.navBtn:active {
  text-decoration: none;
  color: #fff;
}

#previewImage {
  object-fit: cover;
}