body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.container {
  padding-top: 55px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* navigation ------------------------------------------------------ */

nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    position: fixed;
    top: 0px;
    max-height: 55px;
    width: 100%;
    justify-items: center;
    background-color: white;
    padding: 5px 0px 5px 0px;
    z-index: 100;
    column-gap: 5%;
    border-bottom: 1px solid rgb(231, 231, 231);
    /* box-shadow: 2px 2px 10px #d1d1d1; */
}

.logo {
    margin-top: 5px;
    place-self: center;
    width: auto;
    height: 30px;
}

textarea:focus, input:focus{
  outline: none;
}

#search-input {
  padding-top: 5px;
  grid-column: 4/5;
}

input[type=search] {
  width: 140px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  padding: 4px;
  padding-left: 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}


#displayPicture{
    grid-row: 1;
    grid-column: 5/6;
    place-self: center;
    box-sizing: unset;
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

/* footer ------------------------------------------------------ */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 8fr 1fr 1fr;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  justify-items: center;
  background-color: white;
  z-index: 10;
  box-shadow: 5px 10px 18px #888888;
}

.home {
  background-color: transparent;
  border: 0;
  color: #717171;
  cursor: pointer;
  font-size: 25px;
  grid-row: 1;
  grid-column: 2/3;
  place-self: center;
}

.home:focus {
  outline: none;
}

#challengeButton,
#submitForm {
  background-image: linear-gradient(#55c2ff, #5177ff);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  grid-row: 1;
  grid-column: 3/4;
  height: 20px;
  width: 150px;
  border-radius: 20px;
  box-sizing: unset;
  place-self: center;
}

#submitForm {
  background-image: linear-gradient(#ffa4e5, #ff85dd);
}

#notifications {
  grid-row: 1;
  grid-column: 4/5;
  place-self: center;
}

/* drop down menu ------------------------------------------------------ */

.dropbtn {
  border: none;
  cursor: pointer;
  background-color: white;
  overflow: hidden;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0px;
}

.dropbtn:hover,
.dropbtn:focus {
  border: none;
}

.dropdown {
  grid-row: 1;
  grid-column: 5/6;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* search results ------------------------------------------------------ */

#searchResults {
  list-style-type: none;
}

#searchResults li {
  height: 100%;
}

/* text styles ------------------------------------------------------ */

.text-s {
  font-size: 12px;
  margin: 0.5rem;
  color: #717171;
}

.text-m {
  font-size: 16px;
  margin: 0.5rem;
  color: #717171;
}

.text-L {
  font-size: 20px;
  margin: 0.5rem;
  color: #717171;
}

.text-XL, .text-XL-blue {
  font-size: 25px;
  margin: 0.5rem;
  color: #717171;
}

.text-XL-blue {
  font-size: 25px;
  margin: 0.5rem;
  color: rgb(60, 112, 255);
}

.text-m-b {
  font-size: 16px;
  color: #717171;
  font-weight: bold;
}

.text-comments {
  font-size: 14px;
  margin: 0.5rem;
  color: #717171;
  padding-left: 15px;
}

/* links ------------------------------------------------------ */

a {
  text-decoration: none;
}

a:link {
  color: #717171;
}

a:visited {
  color: #717171;
}

a:hover {
  color: #ff84dd;
}

a:active {
  color: #717171;
}

/* divider line ------------------------------------------------------ */


hr {
  border: none;
  height: 0.5px;
  background-color: rgb(170, 170, 170);
}

/* posts ------------------------------------------------------ */

.img-comp-container {
  position: relative;
  height: 600px;
  width: 450px;
  /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: rgb(60, 112, 255);
  opacity: 0.6;
  border-radius: 50%;
  border: solid 4px rgb(255, 98, 221);
}

#displayPicture-playerOne {
  border: 3px solid #5377fd;
  border-radius: 100%;
}

#displayPicture-playerTwo {
  border: 3px solid #ff84dd;
  border-radius: 100%;
}

.likes-container a {
  text-decoration: none;
  color: #fff;
}
.likes-container a:visited {
  text-decoration: none;
  color: #fff;
}
.likes-container a:hover {
  text-decoration: none;
  color: #fff;
}
.likes-container a:focus {
  text-decoration: none;
  color: #fff;
}
.likes-container a:hover,
.navBtn:active {
  text-decoration: none;
  color: #fff;
}

#previewImage {
  object-fit: cover;
}

/* buttons ------------------------------------------------------ */

#mainFeed-btn, #explore-btn, #active-btn {
  background: white;
  border: 1px solid rgb(231, 231, 231);
  border-top: none;
  box-shadow: 5px 5px 10px #d1d1d1;
  color: #5177ff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  height: 20px;
  width: 180px;
  border-radius: 0px 0px 20px 20px;
  box-sizing: unset;
  place-self: center;
}

#mainFeed-btn:active, #explore-btn:active,
#mainFeed-btn:hover, #explore-btn:hover {
  background-image: linear-gradient(#55c2ff, #5177ff);
  border: 1px solid rgb(231, 231, 231);
  border-top: none;
  color: white;
}

#active-btn {
  background-image: linear-gradient(#55c2ff, #5177ff);
  color: white;
}


.tabs {
  display: flex;
  justify-content: space-between;
  width: 450px;

}


@media screen and (max-width: 800px) {
  body {
    min-width: fit-content;
  }
}

