* {
  box-sizing: border-box;
}

.container {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  padding: 0.5rem;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 10px;
}

.title{
  width: 340px
}

.text-s {
  font-size: 11px;
  margin: 0.5rem;
  color: rgb(92, 92, 92);
}

.text-m {
  font-size: 16px;
  margin: 0.5rem;
  color: rgb(92, 92, 92);
}

.text-comments {
  font-size: 11px;
  margin: 0.5rem;
  color: rgb(92, 92, 92);
  padding-left: 15px;
}

a {
  text-decoration: none;
}

a:link {
  color: rgb(92, 92, 92);
}


a:visited {
  color: rgb(92, 92, 92);
}


a:hover {
  color: #ff84dd;
}


a:active {
  color: rgb(92, 92, 92);
}

.post-head {
  display: flex;
  justify-content: flex-end;
}

#delete-btn {
  background-image: linear-gradient(#ff6060, #fd0000);
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  grid-row: 1;
  height: 20px;
  width: fit-content;
  border-radius: 10px;
  box-sizing: unset;
  margin: 5px;
}

.dp-likes {
  text-align: center;
}

hr {
    border: none;
    height: 0.5px;
    background-color: rgb(170, 170, 170)
}

#commentInput {
  width: 90%;
  height: 2rem;
}

#sendMessage-btn {
  border: none;
  background-color: white;
  font-size: 20px;
  color: rgb(92, 92, 92);
  cursor: pointer;
}

.img-comp-container {
  position: relative;
  height: 600px;
  width: 450px;  
  /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: rgb(60, 112, 255);
  opacity: 0.6;
  border-radius: 50%;
  border: solid 4px rgb(255, 98, 221);
}

.players{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}


.bottomleft {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: left;
  font-size: 25px;
  /* background-image: linear-gradient(to left, rgba(255, 255, 255, 0.089), rgba(0, 0, 0, 0.274), rgba(255, 255, 255, 0.089)); */
}
.bottomright {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  font-size: 25px;
}

.likes {
  font-size: 15px;
  color: rgb(92, 92, 92);;
}

#displayPicture-playerOne {
  border: 3px solid #5377fd;
  border-radius: 100%;
}

#displayPicture-playerTwo {
  border: 3px solid #ff84dd;
  border-radius: 100%;
}

.likes-container a {
  text-decoration: none;
  color: #fff;
}
.likes-container a:visited {
  text-decoration: none;
  color: #fff;
}
.likes-container a:hover {
  text-decoration: none;
  color: #fff;
}
.likes-container a:focus {
  text-decoration: none;
  color: #fff;
}
.likes-container a:hover,
.navBtn:active {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 600px) {
  body {
    min-width: fit-content;
    margin: 0px;
  }
}
