* {
  box-sizing: border-box;
}

.post-container {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 10px;
}

.title {
  width: 340px;
}

.post-head {
  display: flex;
  justify-content: flex-end;
}

#delete-btn {
  background-image: linear-gradient(#ff6060, #fd0000);
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  grid-row: 1;
  height: 20px;
  width: fit-content;
  border-radius: 10px;
  box-sizing: unset;
  margin: 5px;
}

.dp-likes {
  text-align: center;
}

#commentInput {
  margin-top: 10px;
  width: 80%;
  height: 2rem;
}

.commentSection {
  width: 430px;
}

.commentText {
  text-align: center;
}

#sendMessage-btn {
  border: none;
  background-color: white;
  font-size: 20px;
  color: rgb(92, 92, 92);
  cursor: pointer;
}

.players {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.bottomleft {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: left;
  font-size: 25px;
}

.bottomright {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  font-size: 25px;
}

.likes {
  font-size: 15px;
  color: rgb(92, 92, 92);
}

@media screen and (max-width: 600px) {
  body {
    min-width: fit-content;
    margin: 0px;
  }
}
