body {
    background-image: linear-gradient(#55C2FF, #5177FF);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  grid-row: 1;
  grid-column: 3/4;
  height: 20px;
  width: 350px;
  border-radius: 20px;
  box-sizing: unset;
}

input {
    border: none;
    height: 35px;
    width: 390px;
    border-radius: 20px;
    text-align: center;
    color: #5177FF;
}

#login{
    background-image: linear-gradient(#55C2FF, #5177FF); 
}

#github{
    background-image: linear-gradient(#a3a3a3, #3f3f3f); 
}

a {
    text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #FF85DD;
}

a:active {
  color: white;
}

@media screen and (max-width: 600px) {
  body {
    max-width: 600px;
  }

  .button {
  max-width: 300px;
}

input {
    max-width: 340px;
    
}
}