body {
    background-image: linear-gradient(#55C2FF, #5177FF);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.small-text{
  font-size: .8rem;
}

.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  grid-row: 1;
  grid-column: 3/4;
  height: 20px;
  width: 350px;
  border-radius: 20px;
  box-sizing: unset;
}

input {
    border: none;
    height: 35px;
    width: 390px;
    border-radius: 20px;
    text-align: center;
    color: #5177FF;
}

#login{
    background-image: linear-gradient(#55C2FF, #5177FF); 
}

#github{
    background-image: linear-gradient(#a3a3a3, #3f3f3f); 
}

a {
    text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #FF85DD;
}

a:active {
  color: white;
}

.wave{
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  z-index: -1000;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: white;
    z-index: -1000;
}

@media screen and (max-width: 600px) {
  body {
    min-width: fit-content;
  }

    .button {
  max-width: 300px;
}

input {
    max-width: 340px;
}

.wave{
  width:100%;
}
}