body {
  /* background-image: linear-gradient(#55c2ff, #5177ff); */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

section.background {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  box-sizing: border-box;
  background: linear-gradient(#55c2ff, #5177ff);
  z-index: 0;
}

section.sec2 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: fff;
  z-index: 0;
}

.wrapper {
  position: absolute;
  align-self: flex-start;
}

.login-fields {
  justify-self: center;
}

.login-buttons {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.small-text {
  font-size: 0.8rem;
}

.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  grid-row: 1;
  grid-column: 3/4;
  height: 20px;
  width: 350px;
  border-radius: 20px;
  box-sizing: unset;
}

input {
  border: none;
  height: 35px;
  width: 390px;
  border-radius: 20px;
  text-align: center;
  color: #5177ff;
}

#login {
  background-image: linear-gradient(#ffa4e5, #ff85dd);
}

#github {
  background-image: linear-gradient(#d1cfcf, #858585);
}

a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #ff85dd;
}

a:active {
  color: white;
}

.wave {
  position: absolute;
  top: 45vh;
  left: 0;
  width: 100%;
  z-index: -1000;
}

/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  min-height: 14vh;
  width: 100%;
  background-color: white;
  z-index: -1000;
} */
@media screen and (min-width: 800px) {
  body {
    min-width: fit-content;
  }

  .button {
    max-width: 300px;
  }

  input {
    max-width: 340px;
  }

  .wave {
    position: absolute;
    top: 50vh;
    left: 0;
    width: 100%;
    z-index: -1000;
  }
}
