body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  flex-direction: column;
  z-index: 10;
}

.wrapper {
  align-self: start;
}

section.background {
  position: relative;
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  box-sizing: border-box;
  background: linear-gradient(#55c2ff, #5177ff);
  z-index: 0;
}

section.sec2 {
  position: relative;
  width: 100%;
  height: 35vh;
  background: fff;
  z-index: 1;
}

.wave {
  position: absolute;
  bottom: 32vh;
  left: 0;
  width: 100%;
  z-index: 2;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.button {
  max-width: 300px;
}

input {
  max-width: 340px;
}

.login-fields {
  justify-self: center;
}

.login-buttons {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.small-text {
  font-size: 0.8rem;
  color: black;
}

.small-text a {
  color: black;
}

#signup-text {
  color: black;
}

.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  grid-row: 1;
  grid-column: 3/4;
  height: 20px;
  width: 350px;
  border-radius: 20px;
  box-sizing: unset;
}

input {
  border: none;
  height: 35px;
  width: 390px;
  border-radius: 20px;
  text-align: center;
  color: #5177ff;
}

#login {
  background-image: linear-gradient(#55c2ff, #5177ff);
}

#github {
  background-image: linear-gradient(#d1cfcf, #858585);
}

a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover,
#signup-text:hover {
  color: #ff85dd;
}

a:active {
  color: white;
}

@media screen and (min-width: 600px) {
  .wave {
    position: absolute;
    top: 37vh;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  section.background {
    height: 65vh;
  }

  section.sec2 {
    height: 35vh;
  }
}

@media screen and (min-width: 800px) {
  .wave {
    top: 35vh;
  }

  section.background {
    height: 65vh;
  }

  section.sec2 {
    height: 35vh;
  }
}

@media screen and (min-width: 900px) {
  .wave {
    top: 30vh;
  }

  section.background {
    height: 80vh;
  }

  section.sec2 {
    height: 20vh;
  }
}

@media screen and (min-width: 1100px) {
  .wave {
    top: 25vh;
  }
}

@media screen and (min-width: 1100px) {
  .wave {
    top: 25vh;
  }
}

@media screen and (min-width: 1300px) {
  .wave {
    top: 20vh;
  }
}

@media screen and (min-width: 1500px) {
  .wave {
    top: 15vh;
  }
}

@media screen and (min-width: 1700px) {
  .wave {
    top: 10vh;
  }
}

@media screen and (min-width: 1900px) {
  .wave {
    top: 5vh;
  }
}

@media screen and (min-width: 2100px) {
  .wave {
    top: 0;
  }
}

@media screen and (min-width: 2300px) {
  .wave {
    top: -5vh;
  }
}

@media screen and (min-width: 2500px) {
  .wave {
    top: -10vh;
  }
}
