.notification {
    margin-bottom: 2rem;
    border: 1px solid rgb(60, 112, 255);
    border-radius: 10px;
    padding: 0.5rem 3rem;
    box-shadow: 5px 10px 18px #888888;
}

.text-s {
  font-size: 12px;
  color: rgb(92, 92, 92);
}

h2 {
 color: rgb(60, 112, 255);
}

.acceptReject-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

#acceptBtn,
#rejectBtn {
  background-image: linear-gradient(#ffc8f0, #ff85dd);
  border: none;
  color: white;
  padding: 8px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  height: 20px;
  width: 150px;
  border-radius: 20px;
  box-sizing: unset;
  margin: 0.5rem;
}

#rejectBtn {
  background-image: linear-gradient(#d8d8d8, #5e5e5e);
}

@media screen and (max-width: 600px) {
  .notification {
    margin: 1rem;
  }
}