* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link {
  color: rgb(92, 92, 92);
}


a:visited {
  color: rgb(92, 92, 92);
}


a:hover {
  color: #ff84dd;
}


a:active {
  color: rgb(92, 92, 92);
}

.text-m {
  font-size: 16px;
  margin: 0.5rem;
  color: rgb(92, 92, 92);
}

.post-gradient {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.699));
  height: 600px;
  width: 450px;  
  z-index: 5;
  border-radius: 10px;

}

.img-comp-container {
  position: relative;
  height: 600px;
  width: 450px;  
  /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: rgb(60, 112, 255);
  opacity: 0.6;
  border-radius: 50%;
  border: solid 4px rgb(255, 98, 221);
}

.dp-title {
  display: flex;
  width: 225px;
}

.postTitle-s {
  padding-left: 10px;
  color: white;
  font-size: 11px;
  margin: 0;
}

.bottomleft {
  position: absolute;
  bottom: 20px;
  left: 16px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: left;
  font-size: 25px;
  z-index: 6;
  /* background-image: linear-gradient(to left, rgba(255, 255, 255, 0.089), rgba(0, 0, 0, 0.274), rgba(255, 255, 255, 0.089)); */
}
.bottomright {
  position: absolute;
  bottom: 20px;
  right: 16px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  font-size: 25px;
  z-index: 6;
}

.likes-container {
  padding-left: 10px;
}

.likes {
  font-size: 15px;
  color: white;
}

#displayPicture-playerOne {
  border: 3px solid #5377fd;
  border-radius: 100%;
}

#displayPicture-playerTwo {
  border: 3px solid #ff84dd;
  border-radius: 100%;
}

.likes-container a {
  text-decoration: none;
  color: #fff;
}
.likes-container a:visited {
  text-decoration: none;
  color: #fff;
}
.likes-container a:hover {
  text-decoration: none;
  color: #fff;
}
.likes-container a:focus {
  text-decoration: none;
  color: #fff;
}
.likes-container a:hover,
.navBtn:active {
  text-decoration: none;
  color: #fff;
}

.acceptReject-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 2rem;

}

#acceptBtn, #rejectBtn {
  background-image: linear-gradient(#ffc8f0, #ff85dd);
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  grid-row: 1;
  grid-column: 3/4;
  height: 20px;
  width: 150px;
  border-radius: 20px;
  box-sizing: unset;
}

#rejectBtn {
  background-image: linear-gradient(#d8d8d8, #5e5e5e);
}

@media screen and (max-width: 600px) {
  body {
    min-width: fit-content;
    margin: 0px;
  }
}
