* {
  box-sizing: border-box;
}

.post-gradient {
  position: absolute;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgb(0, 0, 0)
  );
  height: 600px;
  width: 450px;
  z-index: 5;
  border-radius: 10px;
  pointer-events: none;
}

.postTitle-s {
  text-align: left;
  color: white;
  font-size: 12px;
  margin: 4px;
}

.bottomleft {
  position: absolute;
  bottom: 20px;
  left: 16px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  font-size: 25px;
  z-index: 6;
}

.bottomright {
  position: absolute;
  bottom: 20px;
  right: 16px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  font-size: 25px;
  z-index: 6;
}

.bottomCenter {
  width: 250px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 100px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
  z-index: 6;
}

.fa-comment {
  font-size: 25px;
  color: white;
}

.likes {
  font-size: 15px;
  color: white;
  margin-bottom: 5px;
  margin-top: 20px;

}

@media screen and (max-width: 600px) {
  body {
    min-width: fit-content;
    margin: 0px;
  }
}
