.container-profile{
    margin: 0px;
    display: flex;
    flex-direction: column;
    color: #717171;
    align-items: center;
    width: 450px;
}

.circle-crop {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 30px;
}

.userInfo {
    margin-right: 50px;
}

.follow {
    margin-top: 30px;
}

.followers{
    margin-right: 60px;
}

.following{
    margin-right: 60px;

}

#displayPic-profile {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.user-profile {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.fa-cog{
    font-size: 25px;
    padding-top: 20px;
    margin-right: 20px;
    color: #717171;
}

#follow-btn {
    background-image: linear-gradient(#FFA4E5, #FF85DD);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 20px;
    width: 60px;
    border-radius: 20px;
    box-sizing: unset;
}

.userInfo-Profile {
    display: flex;
    font-size: 14px;
}


.bold {
    font-weight: bold;
}

.userPosts-Profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.profilePost {
    padding: .5rem;
}

#postImage {
    border-radius: 1rem;
    width: 130px;
    height: 200px;
    object-fit: cover
}

@media screen and (max-width: 800px) {
  .container-profile{
    min-width: fit-content;
  }
} 