body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    position: fixed;
    top: 0px;
    max-height: 50px;
    width: 100%;
    justify-items: center;
    background-color: white;
    padding: 5px;
    z-index: 100;
}

.logo {
    place-self: center;
}

.search{
    background-color: transparent;
    border: 0;
    color: #717171;
    cursor: pointer;
    font-size: 25px;
    grid-row: 1;
    grid-column: 4/5;
    place-self: center;

}

.search:focus {
    outline: none;
}

#displayPicture{
     grid-row: 1;
    grid-column: 5/6;
    /* padding-right: 20px; */
    place-self: center;
    box-sizing: unset;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 8fr 1fr 1fr;
    position: fixed;
    left: 0;
    bottom: 0;
    /* top: 100%; */
    max-height: 50px;
    width: 100%;
    justify-items: center;
    background-color: white;
}

.home{
    background-color: transparent;
    border: 0;
    color: #717171;
    cursor: pointer;
    font-size: 25px;
    grid-row: 1;
    grid-column: 2/3;
    place-self: center;
}

.home:focus {
    outline: none;
}

#challengeButton {
  background-image: linear-gradient(#55C2FF, #5177FF);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  grid-row: 1;
  grid-column: 3/4;
  height: 20px;
  width: 150px;
  border-radius: 20px;
  box-sizing: unset;
}

#notifications{
    grid-row: 1;
    grid-column: 4/5;
    place-self: center;
}

/* dropdown menu */
.dropbtn {
  border: none;
  cursor: pointer;
  background-color: white;
}

.dropbtn:hover, .dropbtn:focus {
  border: none;
}

.dropdown {
    grid-row: 1;
    grid-column: 5/6;
  /* float: right; */
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

@media screen and (max-width: 800px) {
  body {
    min-width: fit-content;
  }
}